/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px 0;
  margin-top: -60px;
}

nav ul {
  list-style: none;
  margin: 7px;
  padding: 7px;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.logo {
  height: 110px;
  width: 200px;
  margin: 25px 700px -55px -10px;
}

/* Hero Section */
.hero {
  background-image: url("/images/wepik-export-20230523152352tLjT.png");
  background-size: cover;
  background-position: center;
  height: 765px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(232, 204, 50);
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
}
/* Other Sections */
.featured-products,
.contact {
  padding: 50px 0;
  text-align: center;
  background-color: #f1f1f1;
}

.testimonial {
  padding: 100px 0;
  text-align: center;
  background-color: #d7d1c5;
}

/* featured products*/
.featured-products {
  padding: 50px;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.product-item {
  width: 250px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  text-align: center;
}

.product-item img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 5%;
  margin-bottom: 10px;
  box-shadow: 7px 7px 5px rgb(111, 111, 111);
}

.product-item h3 {
  margin-bottom: 10px;
}

.product-item p {
  color: #666;
}

/*slide show*/
.testimonials {
  width: 300px; /* Adjust the width as per your design */
  height: 100px; /* Adjust the height as per your design */
  overflow: hidden;
  position: relative;
  margin-left: 600px;
}

.testimonial-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.testimonial-text {
  font-size: 16px;
  color: #333; /* Customize the text color as per your design */
  margin: 0;
  padding: 10px;
  text-align: center;
}

.testimonial-slide.active {
  opacity: 1;
}

/*hover effect*/

li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #000000;
  margin: auto;
  display: block;
}

li a:hover::after {
  width: 100%;
  transition: width 0.2s linear;
}

/* Footer */
footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/* Responsive Styles */

/* Mobile */
@media only screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .logo {
    margin: 10px auto;
  }

  header {
    padding: 5px 0;
    margin-top: -40px;
  }

  .hero {
    height: 400px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .btn {
    font-size: 14px;
  }

  .featured-products,
  .contact {
    padding: 30px 0;
  }

  .product-item {
    width: 100%;
  }

  .testimonial {
    padding: 50px 0;
  }
}

/* Tablets/Ipads */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .logo {
    margin: 15px auto;
  }

  header {
    padding: 10px 0;
    margin-top: -50px;
  }

  .hero {
    height: 500px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .btn {
    font-size: 16px;
  }

  .featured-products,
  .contact {
    padding: 40px 0;
  }

  .product-item {
    width: 45%;
  }

  .testimonial {
    padding: 80px 0;
  }
}

/* Laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 30px;
  }

  .logo {
    margin: 20px auto;
  }

  header {
    padding: 15px 0;
    margin-top: -60px;
  }

  .hero {
    height: 600px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .btn {
    font-size: 18px;
  }

  .featured-products,
  .contact {
    padding: 50px 0;
  }

  .product-item {
    width: 30%;
  }

  .testimonial {
    padding: 100px 0;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1204px) {
  .container {
    padding: 40px;
  }

  .logo {
    margin: 25px auto;
  }

  .hero {
    height: 700px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .btn {
    font-size: 20px;
  }

  .featured-products,
  .contact {
    padding: 60px 0;
  }

  .product-item {
    width: 25%;
  }

  .testimonial {
    padding: 120px 0;
  }
}
